* { 
    margin: 0;
    padding: 0;
}

body {
    font: 10pt Helvetica, Sans-Serif;
}

.clear { 
    clear: both;
}

.page-wrap { 
    width: 21cm;
    height: 29.68cm;
}

.pic {
    float: right;
    margin: -30px 0 0 0;
    max-height: 300px;
}

.centered {
    text-align: center;
}

.title {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

h1 {
    margin: 0 0 12px 0;
    padding: 0 0 16px 0;
    font-size: 28pt;
    font-weight: bold;
    border-bottom: 1px solid #999;
}

h2 {
    font-size: 14pt;
    margin: 0 0 6px 0;
    position: relative;
}

h2 span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-style: italic;
    font-family: Georgia, Serif;
    color: #999;
    font-weight: normal;
}

p {
    margin: 0 0 16px 0;
}

a {
    color: #999;
    text-decoration: none;
}

ul {
    margin: 0 0 0 17px;
}

dl: {
    width: 100%;
}

li: {
    line-height: 20px;
}

dt {
    font-weight: bold;
    font-size: 14pt;
    text-align: right;
    padding: 0 26px 0 0;
    width: 15%;
    float: left;
    padding-top: 5px;
}

dd {
    width: 75%;
    float: right;
    margin-right: 20px;
}

dd.item {
    padding-left: 20px;
    padding-top: 5px;
    border-left: 1px solid #999;
}

dd.clear {
    float: none;
    margin: 0;
    height: 25px;
}

.tags { 
    font-family: Georgia, Serif;
    font-size: 10pt;
    color: #999;
    padding-bottom: 5px;
}

.subtitle {
    font-size: 11pt;
}
