* {
    margin: 0;
    padding: 0;
    font-size: 10pt;
    -webkit-print-color-adjust: exact;
}

body {
    background-color: #ccc;
}

a {
    text-decoration: none;
}

h2 {
    line-height: 37pt;
    font-size: 22pt;
    font-weight: 500;
    margin: 0;
}

.title {
    right: 25px;
    padding-left: 20px;
    padding-top: 10px;
    bottom: 25px;
    display: block;
    width: 90%;
}

.title h2 {
    font-size: 1.4em;
    line-height: 37pt;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin-top: 0;
    padding-top: 0;
    color: rgba(0,0,0,.7);
}

.title div {
    font-size: 10pt;
    line-height: 15pt;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(63,61,60,.71);
    display: block;
    letter-spacing: 3px;
    padding: 0;
    opacity: .8;
}

.right-col .summary {
    display: block;
    margin-top: 8px;
    font-weight: 375;
    font-size: 16px;
    color: rgba(0,0,0,.541176);
}

.page-wrap {
    width: 21cm;
    height: 29.68cm;
    display: block;
    background-color: #ccc;
}

.fa {
    font-size: 16pt;
}

.left-col {
    width: 35%;
    height: 100%;
    float: left;
    background-color: #16151c;
    color: hsla(0,0%,100%,.59);
    text-align: left;
}

.pic {
    max-height: 300px;
    width: 100%;
}

.tags {
    padding-bottom: 5px;
    margin: 10px 0 -5px 5px;
}

.right-col {
    width: 63.5%;
    height: 100%;
    float: right;
}

.section-headline {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 10pt;
    opacity: .8;
    margin-left: 20px;
    margin-top: 12px;
    margin-bottom: 6px;
    color: #3f3d3c;
}

.right-col .block {
    width: 90%;
    position: relative;
    background-color: #fff;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.right-col .experience {
    margin-top: 40px;
}

.right-col .block .headline {
    font-weight: 300;
    display: block;
    font-size: 15px;
    color: rgba(0,0,0,.870588);
}

.right-col .block .subheadline,
.right-col .block .tags,
.right-col .block .subheadline a {
    color: rgba(0,0,0,.541176);
    display: block;
    font-size: 14px;
    font-weight: 300;
}

p {
    margin-top: 0;
    margin-bottom: 25px;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    font-size: 10pt;
    line-height: 17pt;
}

.right-col .block .content {
    font-size: 14px;
    color: rgba(0,0,0,.870588);
    margin-bottom: 0;
    padding-top: 20px;
}

.left-col .section-headline {
    color: hsla(0,0%,100%,.54);
}

.left-col .item {
    width: 100%;
    margin-top: 13px;
    float: left;
}

.left-col .item .icon {
    width: 20%;
    float: left;
}

.material-icons {
    font-family: Material Icons, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}

.left-col .item ..material-icons {
    width:20%;
    text-align: center;
    margin-left: -10px;
    font-family: Material Icons, sans-serif;
}

.left-col .item .fa,
.left-col .item .material-icons {
    display: inherit;
    text-align: center;
}

.left-col .item .content {
    float: right;
    width: 69%;
    padding-right: 10%;
    padding-top: 0;
    display: block;
    font-size: 15px;
    font-weight: 300;
}

.left-col .item .content a {
    color: inherit;
}

.left-col .item span {
    font-weight: 300;
}

.left-col .item .skill {
    clear: both;
    width: 97%;
    padding-top: 4px;
}

.left-col .item .skill .right {
    float: right;
    width: 93%;
}

.left-col .item .skill .right .progress {
    float: left;
    position: relative;
    height: 2px;
    display: block;
    width: 95%;
    background-color: hsla(0,0%,100%,.19);
    border-radius: 2px;
    overflow: visible;
    margin: .5rem 0 10px;
}

.left-col .item .skill span {
    font-size: 13px;
}

.left-col .item .skill .right .progress .determinate {
    background-color: #78909c;
    position: absolute;
    top: 0;
    bottom: 0;
}

.left-col .item .fa {
    display: inherit;
    text-align: center;
}

.left-col .item .skill .right .progress .determinate .fa {
    font-size: 13px;
    position: absolute;
    top: -4px;
    right: -2px;
    margin-left: 50%;
    color: #fff;
}
