<!DOCTYPE html>
<html lang="en">
	<head>
        <title>{{ resume.contact.name }}'s resume</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <style type="text/css">{% include "material.css" %}</style>
	</head>
	<body>
        <div class="page-wrap">
			<div class="left-col">
				<img src="file:///{{ image }}" alt="Photo" class="pic" />
                <div class="section-headline">Contact</div>
                <div class="item">
                    <div class="icon"><em class="material-icons">account_circle</em></div>
                    <div class="content">Born: {{ resume.contact.date_of_birth }}</div>
                </div>
                <div class="item">
                    <div class="icon"><em class="material-icons">location_city</em></div>
                    <div class=content>{{ resume.contact.location.address }}<br/>
                        {% if resume.contact.location.zip %}
                        {{ resume.contact.location.zip }}
                        {% endif %}{{ resume.contact.location.city }}<br/>
                        {% if resume.contact.location.country %}
                        {{ resume.contact.location.country }}
                        {% endif %}
                    </div>
                </div>
                <div class="item">
                    <div class="icon"><em class="material-icons">phone</em></div>
                    <div class="content">{{ resume.contact.phone }}</div>
                </div>
                <div class="item">
                    <div class="icon"><em class="material-icons">email</em></div>
                    <div class="content">
                        <a href="{{ resume.contact.email }}">{{ resume.contact.email }}</a>
                    </div>
                </div>
                {% for p in resume.profiles %}
                <div class="item">
                    {% if p.network|upper == "GITHUB" %}
                    <div class="icon"><em class="fa fa-github"></em></div>
                    {% elif p. network|upper == "GITLAB" %}
                    <div class="icon"><em class="fa fa-gitlab"></em></div>
                    {% elif p. network|upper == "FACEBOOK" %}
                    <div class="icon"><em class="fa fa-facebook"></em></div>
                    {% elif p. network|upper == "TWITTER" %}
                    <div class="icon"><em class="fa fa-twitter"></em></div>
                    {% else %}
                    <div class="icon"><em class="material-icons">language</em></div>
                    {% endif %}
                    <div class="content"><a href="{{ p.url }}">{{ p.url }}</a></div>
                </div>
                {% endfor %}
                <div class="item">
                    <div class="section-headline">Skills</div>
                    {% for s in resume.skills %}
                    <div class="skill">
                        <div class="right">
                            <span>{{ s.name }}</span>
                            <div class="progress">
                                <div class="determinate" style="width: {{ s.level }}%">
                                    <em class="fa fa-circle"></em>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
               </div>
               <div class="item">
                    <div class="section-headline">Languages</div>
                    {% for l in resume.languages %}
                    <div class="skill">
                        <div class="right">
                            <strong>{{ l.name }}: </strong><span>&nbsp {{ l.level }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
               <div class="item">
                    <div class="section-headline">Hobbies</div>
                    {% for h in resume.hobbies %}
                    <div class="skill">
                        <div class="right">
                            <strong>{{ h.name }}</strong><span>&nbsp {{ h.details }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
			<div class="right-col">
				<div class="title">
					<h2>{{ resume.contact.name }}</h2>
					<div class="job">{{ resume.contact.job }}</div>
					<span class="summary">{{ resume.contact.summary }}</span>
				</div>
                <div class="section-headline experience">Experiences</div>
                {% for e in resume.experiences %}
                <div class="block">
                    <h3 class="headline">{{ e.position }} - {{ e.company }}</h3>
                    <div class="subheadline">
                        {% if not e.end_date %}
                            Since {{ e.start_date }}
                        {% else %}
                            {{ e.start_date }} - {{ e.end_date }}
                        {% endif %}
                    </div>
                    <p class="content">{{ e.summary }}</p>
                    {% if e.tags %}
                    <div class="tags">
                        -{% for tag in e.tags %} {{ tag }} -{% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                <div class=section-headline>Education</div>
                {% for d in resume.education %}
                <div class="block">
                    <h3 class="headline">{{ d.degree }}</h3>
                    <div class="subheadline">
                    {{ d.start_date }} - {% if not d.end_date %}Today{% else %}{{ d.end_date }}{% endif %}
                    </div>
                    <div class="content">
                    {{ d.institution }}
                    </div>
                </div>
                {% endfor %}
				{% if resume.projects %}
                <div class="section-headline">Projects</div>
                {% for p in resume.projects %}
                <div class="block">
                    <h3 class="headline">{{ p.name }}</h3>
                    <div class="subheadline">
                        {% if p.url %}<a href="{{ p.url }}">{{ p.url }}</a>{% endif %}
                    </div>
                    <div class="content">
                    {{ p.description }}
                    </div>
                </div>
                {% endfor %}
				{% endif %}
			</div>
    	</div>
	</body>
</html>
